import(cluster)
import(graphics)
import(grDevices)
import(GPArotation)
import(NbClust)
import(pastecs)
import(psych)
import(stats)
import(utils)


S3method(plot,traj)
S3method(print,traj)
S3method(summary,traj)
export(step1measures)
export(step2factors)
export(step3clusters)
export(wrapperTraj)
export(plotMedTraj)
export(plotMeanTraj)
export(plotBoxplotTraj)
export(plotCombTraj)
